---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import MaxWidthWrapper from "@/components/MaxWidthWrapper.astro";
import { Button } from "@/components/ui/button";
import MemberCards from "../components/MemberCard.astro";

const allCardsData = await Astro.glob("../memberList/*.md");

// Sort the cards by privilege (higher number first)
const sortedCardsData = allCardsData.sort((a, b) => {
  return a.frontmatter.privilege - b.frontmatter.privilege;
});
---

<Layout title="About Us | PT Anugrah Teknologi Kecerdasan Buatan">
  <main>
    <section class="">
      <div class="bg-fixed bg-center h-[24rem] bg-cover bg-no-repeat content-center" style="background-image: url(/desk.jpg)">
        <div class="bg-gray-700/30 backdrop-brightness-100 min-w-full h-[24rem] bg-center bg-cover bg-origin-border bg-no-repeat content-center">
          <MaxWidthWrapper className="py-24 font-bold text-white text-6xl"
            >About Us</MaxWidthWrapper
          >
        </div>
      </div>
    </section>
    <section>
      <MaxWidthWrapper className="py-20">
        <div class="flex flex-col gap-4">
          <h1 class="font-bold text-4xl">
            PT. Anugrah Teknologi Kecerdasan Buatan
          </h1>
          <p class="text-xl">
            We are an innovative IT consulting company based in Indonesia, specializing in artificial intelligence (AI) technologies.
            Our mission is to help businesses harness AI to enhance efficiency, drive innovation, and achieve growth.
          </p>
          <p class="text-xl">
            We work closely with clients to develop AI-driven solutions tailored to their specific needs,
            empowering them to stay competitive in a rapidly changing digital landscape.
          </p>
        </div>
        <div class="flex flex-col gap-4 mt-12">
          <!-- <div class="grid grid-cols-3 gap-12">
            <div class="flex flex-col w-full h-full gap-4">
              <div class="bg-blue-200 aspect-square"></div>
              <p>Komisari</p>
              <p>Nama</p>
              <Button className="bg-first rounded-full">Lihat Profil</Button>
            </div>
            <div class="flex flex-col w-full h-full gap-4">
              <div class="bg-blue-200 aspect-square"></div>
              <p>Komisari</p>
              <p>Nama</p>
              <Button className="bg-first rounded-full">Lihat Profil</Button>
            </div>
            <div class="flex flex-col w-full h-full gap-4">
              <div class="bg-blue-200 aspect-square"></div>
              <p>Komisari</p>
              <p>Nama</p>
              <Button className="bg-first rounded-full">Lihat Profil</Button>
            </div>
            <div class="flex flex-col w-full h-full gap-4">
              <div class="bg-blue-200 aspect-square"></div>
              <p>Komisari</p>
              <p>Nama</p>
              <Button className="bg-first rounded-full">Lihat Profil</Button>
            </div>
            <div class="flex flex-col w-full h-full gap-4">
              <div class="bg-blue-200 aspect-square"></div>
              <p>Komisari</p>
              <p>Nama</p>
              <Button className="bg-first rounded-full">Lihat Profil</Button>
            </div>
          </div> -->
          <!-- Consultants -->
          <section id="consultants" class="bg-white py-20 dark:bg-gray-900">
            <div class="container px-6 py-10 mx-auto">
              <h1 class="text-center text-5xl font-bold">Our Team</h1>
                <!-- <p class="max-w-2xl mx-auto my-6 text-center text-gray-500 dark:text-gray-300">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt ex placeat modi magni quia error alias, adipisci rem similique, at omnis eligendi optio eos harum.
                </p> -->
        
                <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-3">
                  {
                    allCardsData.map((post) => (
                      <MemberCards
                        frontmatter={post.frontmatter}
                      />
                    ))
                  }
                </div>
              </div>
            </div>
          </section>
        </div>
      </MaxWidthWrapper>
    </section>
    <section class="bg-gray-300 py-20">
      <MaxWidthWrapper className="text-xl">
        &quot; AI, making life better for the future.&quot;
        <br/>
        - PT. Anugrah Teknologi Kecerdasan Buatan
      </MaxWidthWrapper>
    </section>
  </main>
</Layout>
