---
import "@/styles/globals.css";
import MaxWidthWrapper from "../components/MaxWidthWrapper.astro";
import Layout from "../layouts/Layout.astro";

import { Button, buttonVariants } from "@/components/ui/button";
import "@/styles/globals.css";
import { Image } from "astro:assets";
import { ChevronRight, User, Linkedin } from "lucide-react";
import { cn } from "@/lib/utils";
import { Mail, Phone } from "lucide-react";
---

<Layout title="Home | PT Anugrah Teknologi Kecerdasan Buatan">
  <main>
    <!-- Hero -->
    <section id="home" class="bg-[url('/alt.jpg')] h-[calc(100vh-96px)]">
      <MaxWidthWrapper className="h-full flex items-center">
        <div class="flex flex-col text-center lg:text-left gap-12 lg:pr-48">
          <div class="text-6xl text-white">
            PT. Anugrah Teknologi Kecerdasan Buatan
          </div>
          <div class="text-xl text-white">
            Welcome to PT. Anugrah Teknologi Kecerdasan Buatan (PT. ATKB)! We
            are a forward-thinking company dedicated to advancing the field of
            Artificial Intelligence (AI) and empowering businesses and
            individuals with cutting-edge solutions. Let's dive into what makes
            us unique:
          </div>
          <div>
            <Button className="bg-first hover:bg-first/70">
              <a href="#about" class="text-lg">More About Us</a>
            </Button>
          </div>
        </div>
      </MaxWidthWrapper>
    </section>

    <!-- About Us -->
    <section id="about" class="min-h-screen py-20 lg:py-0">
      <MaxWidthWrapper>
        <div
          class="max-w-screen-xl flex items-center justify-center content-center mx-7 flex-col lg:flex-row"
        >
          <Image
            src={"/businesswork.jpg"}
            width={600}
            height={200}
            alt="by gpointstudio on Freepik"
          />
          <div class="flex flex-col gap-4">
            <h1 class="font-bold text-4xl">About Us</h1>
            <p class="text-xl">
              We are a forward-thinking IT consulting company based in
              Indonesia, specializing in cutting-edge artificial intelligence
              (AI) technologies. Our mission is to empower businesses and
              individuals by harnessing the power of AI
              to drive innovation, efficiency, and growth.
            </p>
          </div>
        </div>
      </MaxWidthWrapper>
    </section>

    <!-- Carousel -->
    <section id="services" class="min-h-screen flex items-center bg-second">
      <MaxWidthWrapper className="flex flex-col gap-12 py-10">
        <div class="flex flex-col">
          <div class="text-first text-xl">Services</div>
          <div class="font-bold text-4xl">Provided Services</div>
        </div>
        <div
          class="grid grid-cols-3 gap-14 min-[320px]:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
        >
          <div
            class="bg-white flex flex-col gap-4 px-8 py-16 rounded-2xl items-center"
          >
            <div class="w-20 h-20">
              <img src="/website.svg" alt="website" loading="lazy" />
            </div>
            <div class="text-first text-2xl font-bold text-center">
              Web Development
            </div>
            <div class="text-center">
              Our skilled team of developers creates dynamic, user-friendly
              websites tailored to your specific needs.
            </div>
          </div>
          <div
            class="bg-white flex flex-col gap-4 px-8 py-16 rounded-3xl items-center"
          >
            <div class="w-20 h-20">
              <img src="/courses.svg" alt="courses" loading="lazy" />
            </div>
            <div class="text-first text-2xl font-bold text-center">
              IT Training
            </div>
            <div class="text-center">
              We offer comprehensive IT training programs, equipping learners
              with the skills needed to thrive in a digital world.
            </div>
          </div>
          <div
            class="bg-white flex flex-col gap-4 px-8 py-16 rounded-3xl items-center"
          >
            <div class="w-20 h-20">
              <img src="/research.svg" alt="research" loading="lazy" />
            </div>
            <div class="text-first text-2xl font-bold text-center">
              Research
            </div>
            <div class="text-center">
              Our dedicated research team delves into the latest AI
              advancements, exploring novel algorithms, applications, and
              breakthroughs. We collaborate with industry partners, academic
              institutions to push the boundaries of what AI can achieve.
            </div>
          </div>
          <div
            class="bg-white flex flex-col gap-4 px-8 py-16 rounded-3xl items-center"
          >
            <div class="w-20 h-20">
              <img src="/journal.svg" alt="journal" loading="lazy" />
            </div>
            <div class="text-first text-2xl font-bold text-center">
              Journal Publishing
            </div>
            <div class="text-center">
              We provide the support to help you Publish your hard-researched
              Journal and make it available to the world.
            </div>
          </div>
          <div
            class="bg-white flex flex-col gap-4 px-8 py-16 rounded-3xl items-center"
          >
            <div class="w-20 h-20">
              <img src="/education.svg" alt="education" loading="lazy" />
            </div>
            <div class="text-first text-2xl font-bold text-center">
              Education Training
            </div>
            <div class="text-center">
              We provide training and bootcamps especially for IT educations. We
              are hoping to increase the amount of IT workforce and quality by
              doing this.
            </div>
          </div>
          <div
            class="bg-white flex flex-col gap-4 px-8 py-16 rounded-3xl items-center"
          >
            <div class="w-20 h-20">
              <img src="/thesis.svg" alt="thesis" loading="lazy" />
            </div>
            <div class="text-first text-2xl font-bold text-center">
              Thesis Consultation
            </div>
            <div class="text-center">
              Navigating the complexities of thesis writing? Our experienced
              consultants provide guidance, feedback, and support throughout the
              thesis process.
            </div>
          </div>
        </div>
      </MaxWidthWrapper>
    </section>

    <!-- Projects -->
    <section id="project">
      <div class="flex min-[320px]:flex-col lg:flex-row">
        <div class="flex-[65] bg-first px-12 py-20">
          <div class="flex flex-col gap-4">
            <div class="text-7xl text-white">Our Projects</div>
            <div class="text-white">
              Throughout our journey, we’ve had the privilege of collaborating
              on various exciting ventures. From innovative startups to
              established brands, our portfolio reflects our commitment to
              excellence. Here’s a glimpse of some remarkable projects:
            </div>
            <div>
              <Button
                className="bg-second hover:bg-second/50 text-first flex justify-between"
              >
                <div>Read More</div>
                <ChevronRight />
              </Button>
            </div>
          </div>
        </div>
        <div class="flex-[127]">
          <div class="flex py-20 min-[320px]:px-3 md:px-10 lg:px-15">
            <div class="flex-col flex gap-10 justify-center h-full">
              <!-- Gap between content -->
              <div class="flex gap-4">
                <div class="flex flex-col">
                  <div
                    class="bg-first px-8 py-6 rounded-md text-xl text-white text-center h-fit"
                  >
                    Sep <br /> 2023
                  </div>
                  <div class="flex-shrink-0 rounded-md pt-2">
                    <Image
                      src={"/PuskesmasKertasemaya.png"}
                      alt="project1"
                      width={125}
                      height={500}
                      class="rounded-md"
                    />
                  </div>
                </div>
                <div class="flex flex-col gap-2">
                  <div class="text-first text-2xl font-semibold">
                    <a
                      href="https://puskesmaskertasemaya.indramayukab.go.id/"
                      target="_blank"
                      rel="noreferrer"
                    >
                      PUSKESMAS KERTASEMAYA
                    </a>
                  </div>
                  <div class="flex flex-1">
                    At UPTD Puskesmas Kertasemaya, we’ve crafted a dynamic
                    website with a clear mission: to enhance accessibility to
                    essential health information for our local community.
                    <br />
                    <br />
                    Our commitment lies in digitizing crucial services, ensuring
                    residents can easily access our daily schedules, preventive measures,
                    and community updates.
                  </div>
                </div>
              </div>
              <div class="flex gap-4">
                <div class="flex flex-col">
                  <div
                    class="bg-first px-8 py-6 rounded-md text-xl text-white text-center h-fit"
                  >
                    Nov <br /> 2023
                  </div>
                  <div class="flex-shrink-0 rounded-md pt-2">
                    <Image
                      src={"/PuskesmasTerisi.png"}
                      alt="project1"
                      width={125}
                      height={500}
                      class="rounded-md"
                    />
                  </div>
                </div>
                <div class="flex flex-col gap-2">
                  <div class="text-first text-2xl font-semibold">
                    <a
                      href="https://www.puskesmasterisi.com/"
                      target="_blank"
                      rel="noreferrer"
                    >
                      PUSKESMAS TERISI
                    </a>
                  </div>
                  <div class="flex flex-1">
                    Welcome to UPTD Puskesmas Terisi! Our commitment lies in
                    bridging the gap between healthcare and technology, ensuring
                    that essential health information reaches our local
                    community with ease.
                    <br />
                    <br />
                    At Puskesmas Terisi, we believe that health should be accessible
                    to all, regardless of physical boundaries. Our digital platform
                    serves as a beacon, guiding residents toward better well-being.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonial -->
    <section id="articles">
      <div class="flex min-h-screen items-center bg-[#C6D7E8]">
        <div class="container py-12 flex flex-col gap-12">
          <div class="flex flex-col">
            <div class="text-[#326BA4] font-bold text-6xl min-[320px]:text-3xl">
              Articles
            </div>
            <div class="flex justify-between">
              <div class="flex-1 text-xl">
                READ ARTICLES ABOUT THE RECENT <br /> TECH ADVANCEMENTS
              </div>
              <div class="flex-1 text-right text-sm">
                Artificial intelligence (AI) is rapidly transforming our world,
                and it's crucial for all of us to engage with its development.
                While a small group of technologists currently shapes AI, its
                potential impact affects everyone. Let's explore why taking the
                prospect of a world transformed by AI seriously matters.
              </div>
            </div>
          </div>
          <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8">
            <div
              class="flex flex-col bg-[#DFE6EC] rounded-md p-8 gap-4 border-b-8 border-[#326BA4] shadow-2xl"
            >
              <div class="text-[#326BA4] text-2xl font-bold">
                &quot;RELEASE OF GPT-4&quot;
              </div>
              <div class="text-justify text-sm">
                Released by OpenAI in March 2023, GPT-4 has become a significant
                milestone in scaling up deep learning. It's a large multimodal
                model that accepts both image and text inputs, producing text
                outputs. While not perfect, GPT-4 exhibits human-level
                performance on various professional and academic benchmarks,
                performing well on simulated bar exams, surpassing GPT-3.5's
                scores.
              </div>
              <div class="flex gap-4">
                <div
                  class="rounded-full bg-white p-2 items-center content-center justify-center"
                >
                  <img
                    src="/openai.svg"
                    alt="apple"
                    loading="lazy"
                    height="30px"
                    width="30px"
                  />
                </div>
                <div class="flex items-center">OpenAI ChatGPT</div>
              </div>
            </div>
            <div
              class="flex flex-col bg-[#DFE6EC] rounded-md p-8 gap-4 border-b-8 border-[#326BA4] shadow-2xl"
            >
              <div class="text-[#326BA4] text-2xl font-bold">
                &quot;MICROSOFT'S COPILOT &mdash; RECALL&quot;
              </div>
              <div class="text-justify text-sm">
                Microsoft’s Recall feature, introduced for Copilot+PCs, has
                sparked both interest and controversy. Recall acts as a timeline
                AI feature, capturing a user’s screen activity, including mouse
                movements and application actions. Though useful to allow users
                revisit past interactions, cybersecurity experts have raised
                concerns about potential privacy implications and data
                collection methods
              </div>
              <div class="flex gap-4">
                <div
                  class="rounded-full bg-white p-2 items-center content-center justify-center"
                >
                  <img
                    src="/microsoft.svg"
                    alt="apple"
                    loading="lazy"
                    height="30px"
                    width="30px"
                  />
                </div>
                <div class="flex items-center">Microsoft Copilot</div>
              </div>
            </div>
            <div
              class="flex flex-col bg-[#DFE6EC] rounded-md p-8 gap-4 border-b-8 border-[#326BA4] shadow-2xl"
            >
              <div class="text-[#326BA4] text-2xl font-bold">
                &quot;APPLE VISION PRO&quot;
              </div>
              <div class="text-justify text-sm">
                Apple Vision Pro, a revolutionary wearable device, seamlessly
                blends digital content with the physical world. Featuring custom
                micro-OLED displays, spatial audio, eye and hand tracking, and a
                dual-chip design, it represents Apple's most ambitious creation.
                Its ultra-high-resolution display and visionOS—the world's first
                spatial operating system—transform how users interact with apps,
                entertainment, photos, and videos
              </div>
              <div class="flex gap-4">
                <div
                  class="rounded-full bg-white p-2 items-center content-center justify-center"
                >
                  <img
                    src="/apple.svg"
                    alt="apple"
                    loading="lazy"
                    height="30px"
                    width="30px"
                  />
                </div>
                <div class="flex items-center">Apple Inc.</div>
              </div>
            </div>
          </div>
          <!-- <div class="flex w-full justify-center">
          <Button
            className="bg-[#326BA4] hover:bg-[#326BA4]/50 flex justify-between"
          >
            <div>Read More</div>
            <ChevronRight />
          </Button>
        </div> -->
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div
        class="flex flex-col items-center py-12 bg-[url('/indo.jpeg')] bg-cover text-white"
      >
        <div class="text-4xl font-bold text-center">Contact Us</div>
        <div class="text-center content-center pt-5">
          Interested in working with us? Contact us using the link down below!
        </div>
        <div class="text-center content-center pt-8">
          <a
            href="mailto:anugrahtechid@gmail.com"
            target="_blank"
            rel="noreferrer"
            class={buttonVariants({ variant: "invis" })}
          >
            <Mail className="mr-2" />
            E-mail: anugrahtechid@gmail.com
          </a>
        </div>
        <div class="text-center content-center">
          <a
            href="https://api.whatsapp.com/send?phone=6281295938973&text=Hi%21%20I%20would%20like%20to%20ask"
            target="_blank"
            rel="noreferrer"
            class={buttonVariants({ variant: "invis" })}
          >
            <Phone className="mr-2" />
            Phone or WhatsApp: <br class="inline min-[425px]:hidden" /> +62 812-9593-8973
            (Indonesia)
          </a>
        </div>
        <!-- <div class="text-4xl font-bold">Contact Us</div>
      <Input
        placeholder="Name"
        className={cn(
          "max-w-lg bg-transparent border-t-0 border-x-0 rounded-none border-b-2 border-white placeholder:text-white focus-visible:ring-0 focus-visible:ring-offset-0"
        )}
      />
      <Input
        placeholder="Email"
        className="max-w-lg bg-transparent border-t-0 border-x-0 rounded-none border-b-2 border-white placeholder:text-white focus-visible:ring-0 focus-visible:ring-offset-0"
      />
      <Textarea
        placeholder="Message"
        rows={5}
        className="max-w-lg bg-transparent rounded-none border-2 border-white placeholder:text-white focus-visible:ring-0 focus-visible:ring-offset-0"
      /> -->
      </div>
    </section>
  </main>
</Layout>
