---
import MaxWidthWrapper from "./MaxWidthWrapper.astro";
import { Image } from "astro:assets";
---

<nav class="h-20 bg-third z-30 shadow-lg w-full fixed flex flex-row">
  <MaxWidthWrapper className="h-full">
    <div class="flex justify-between items-center h-full">
      <div class="flex justify-center items-center hidden md:block">
        <!-- <Image src={"/logo.png"} width={300} height={300} alt="logo" /> -->
        <a href="#home">
          <Image src={"/logo.png"} width={300} height={300} alt="logo" loading="eager"/>
        </a>
      </div>
      <div class="flex gap-4 items-center w-full justify-center min-[425px]:justify-around mx-2 sm:justify-around md:justify-end lg:gap-8">
        <!-- gap-8 -->
          <a href="#about" class="text-xs sm:text-sm lg:text-base">About</a>
          <a href="#services" class="text-xs sm:text-sm lg:text-base">Services</a>
          <a href="#project" class="text-xs sm:text-sm lg:text-base">Project</a>
          <a href="#articles" class="text-xs sm:text-sm lg:text-base">Articles</a>
          <a href="#consultants" class="text-xs sm:text-sm lg:text-base">Consultants</a>
          <a href="#contact" class="text-xs sm:text-sm lg:text-base">Contact</a>
      </div>
    </div>
  </MaxWidthWrapper>
</nav>
