---
import MaxWidthWrapper from "./MaxWidthWrapper.astro";
import { Image } from "astro:assets";
---

<nav class="h-20 bg-third z-30 shadow-lg w-full fixed">
  <MaxWidthWrapper className="h-full">
    <div class="flex justify-between items-center h-full">
      <div class="flex justify-center items-center">
        <a href="#home">
          <Image src={"/logo.png"} width={300} height={300} alt="logo" loading="lazy"/>
        </a>
      </div>
      <div class="flex gap-8">
        <div>
          <a href="#about">About</a>
        </div>
        <div>
          <a href="#services">Services</a></div>
        <div>
          <a href="#project">Project</a></div>
        <div>
          <a href="#testimonies">Testimonies</a></div>
        <div>
          <a href="#contact">Contact</a></div>
      </div>
    </div>
  </MaxWidthWrapper>
</nav>
