---
import MaxWidthWrapper from "./MaxWidthWrapper.astro";
import { Image } from "astro:assets";
---

<div class="bg-third h-24 z-30 shadow-lg w-full fixed flex py-1">
  <MaxWidthWrapper>
    <div class="flex justify-between items-center">
      <a href="/">
        <Image src={"/logo.png"} width={500} height={250} alt="logo" />
      </a>
      <nav class="lg:flex gap-4 items-center w-full justify-end hidden">
        <a
          href="/about"
          class="text-lg hover:opacity-75 transition-all duration-300"
        >
          About
        </a>
        <a
          href="#services"
          class="text-lg hover:opacity-75 transition-all duration-300"
        >
          Services
        </a>
        <a
          href="#project"
          class="text-lg hover:opacity-75 transition-all duration-300"
        >
          Project
        </a>
        <a
          href="#articles"
          class="text-lg hover:opacity-75 transition-all duration-300"
        >
          Articles
        </a>
        <a
          href="#consultants"
          class="text-lg hover:opacity-75 transition-all duration-300"
        >
          Consultants
        </a>
        <a
          href="#contact"
          class="text-lg hover:opacity-75 transition-all duration-300"
          >Contact</a
        >
      </nav>
    </div>
  </MaxWidthWrapper>
</div>
