---
import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";
import { ChevronRight, User } from "lucide-react";

const props = Astro.props 
---

<section id="project">
  <div class="flex min-[320px]:flex-col lg:flex-row">
    <div class="flex-[65] bg-first px-12 py-20">
      <div class="flex flex-col gap-4">
        <div class="text-7xl text-white">Our Projects</div>
        <div class="text-white">
          Throughout our journey, we’ve had the privilege of collaborating on various exciting ventures.
          From innovative startups to established brands, our portfolio reflects our commitment to excellence.
          Here’s a glimpse of some remarkable projects:
        </div>
        <div>
          <Button
            className="bg-second hover:bg-second/50 text-first flex justify-between"
          >
            <div>Read More</div>
            <ChevronRight />
          </Button>
        </div>
      </div>
    </div>
    <div class="flex-[127]">
      <div class="flex py-20 min-[320px]:px-10 md:px-10 lg:px-15">
        <div class="flex-col flex gap-10 justify-center h-full"> <!-- Gap between content -->
          <div class="flex gap-4">
            <div
              class="bg-first px-8 py-6 rounded-md text-xl text-white text-center h-fit"
            >
              Sep <br /> 2023
            </div>
            <div class="flex-shrink-0 rounded-md">
              <Image
                src={"/PuskesmasKertasemaya.png"}
                alt="project1"
                width={125}
                height={500}
                class="rounded-md"
              />
            </div>
            <div class="flex flex-col gap-2">
              <div class="text-first text-2xl font-semibold">
                <a href="https://www.pkmkertasemaya.com/" target="_blank" rel="noreferrer">
                  PUSKESMAS KERTASEMAYA
                </a>
              </div>
              <div class="flex flex-1">
                At UPTD Puskesmas Kertasemaya, we’ve crafted a dynamic website with a clear mission: to enhance accessibility to essential health information for our local community.
                Our commitment lies in digitizing crucial services, ensuring residents can easily access our daily schedules, preventive measures, and community updates.
              </div>
            </div>
          </div>
          <div class="flex gap-4">
            <div
              class="bg-first px-8 py-6 rounded-md text-xl text-white text-center h-fit"
            >
              Nov <br /> 2023
            </div>
            <div class="flex-shrink-0 rounded-md">
              <Image
                src={"/PuskesmasTerisi.png"}
                alt="project1"
                width={125}
                height={500}
                class="rounded-md"
              />
            </div>
            <div class="flex flex-col gap-2">
              <div class="text-first text-2xl font-semibold">
                <a href="https://www.puskesmasterisi.com/" target="_blank" rel="noreferrer">
                  PUSKESMAS TERISI
                </a>
              </div>
              <div class="flex flex-1">
                Welcome to UPTD Puskesmas Terisi! Our commitment lies in bridging the gap between healthcare and technology, ensuring that essential health information reaches our local community with ease.
                <br> <br>    
                At Puskesmas Terisi, we believe that health should be accessible to all,
                regardless of physical boundaries. Our digital platform serves as a beacon,
                guiding residents toward better well-being.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>